# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
android/app/key.properties
ios/Flutter/Generated.xcconfig
macos/Flutter/Generated.xcconfig

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Secrets
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
